.line-up {
  clip-path: inset(0 0 100% 0);
  transition: clip-path 1s; 
}
  
.line-up.active {
  clip-path: inset(0);
}

.roll {
  clip-path: inset(0 100% 0 0);
  transition: clip-path 1s, opacity 1s;
  opacity: 0.3;
}

.roll.active {
  clip-path: inset(0 0 0 0);
  opacity: 1;
}

.slide-left {
  opacity: 0;
  transform: translate(-100px,0);
  transition: all 1s;
}

.slide-left.active {
  opacity: 1;
  transform: translate(0,0);
}
  
.slide-up {
  opacity: 0;
  transform: translate(0,70px);
  transition: all 1s;
}

.slide-up.active {
  opacity: 1;
  transform: translate(0,0);
}